div.fragment {
    margin: 4px 0;
    padding: 8px 8px 9px 8px;
}

.memtitle {
    background-color: #dfe5f1;
    background-image: none;
    background-repeat: initial;
    font-weight: 400;
}

#nav-tree .selected {
    background-color: #3d588d;
    background-image: none;
}

.ui-resizable-e {
    background-color: #dfe5f1;
    background-image: none;
}
